

body { 
    background-color: var(--primary);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 5rem;
    margin: 5rem;
    width: fit-content;
}

#intro-text {
    height: auto;
    background-color: var(--primary);
    color: var(--accent);
    padding: 2rem;
    border-radius: 0.5rem;
    width: fit-content;
}

#intro-text > h1 {
    font-size: 6rem;
}

#intro-text > p {
    font-size: 2rem;
}

#intro-img {
    height: 25rem;
    width: 25rem;
}

#rows {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row1 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#row2 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.text {
    width: 60vw;
    color: var(--accent);
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 60vw;
    font-size: 1.5rem;
}
