#projects {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

#projects > #intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    color: var(--accent);
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

h2 {
    width: fit-content;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background: var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#text {
    padding: 0;
}

.button {
    background: var(--accent);
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
    color: var(--primary);
    font-size: 1.5rem;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background: var(--accent2);
}

a {
    color: var(--accent2);
    font-size: 1.5rem;
    text-decoration: none;
}

.project-img {
    border-radius: 1rem;
    width: 30vw;
}

.description {
    width: 40vw;
}

.description > .text {
    width: fit-content
}