/* Styling the page */
.home {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    margin-right: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem
}

/* Consistent styles for each info div */
.infoBox {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    color: var(--colour2);
    text-align: center;

    /* border: 0.5rem solid var(--colour3); */

    margin-top: 10rem;
    margin-bottom: 10rem;
}

/* Intro styles */
#introImage {
    width: 40rem;
}

#introText {
    width: 40rem;
    padding-top: 12rem;
}

/* Personal Styles */
#personalText {
    width: 40rem;
    padding-top: 12rem;
}

#personalImage {
    width: 40rem;
}

/* Professional Styles */
#professionalText {
    width: 40rem;
    padding-top: 12rem;
}

#professionalImage {
    width: 40rem;
}

/* Sporting Styles */
#sportingText {
    width: 40rem;
    padding-top: 12rem;
}

#sportingImage {
    width: 40rem;
}