#footer {
    display: flex;
    flex-direction: column;
}

#footer a, #footer p {
    color: var(--colour2);
    transition-duration: 0.4s;
}

#footer a:hover {
    color: var(--colour3);
}


#footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: var(--colour1);
}

#copy {
    justify-content: center;
    padding: 1rem;
    background-color: var(--colour1);
    text-align: center;
}