*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    background-color: var(--colour1);
}

:root {
    --colour1: #2e2e44;
    --colour2: #f8f5ea;
    --colour3: #ea160c;
    --colour4: #78b5ce;

}